{% extends 'base_generic.html' %}

{% block content %}
  <h2>Detalles del Módulo: {{ object.nombre }}</h2>

  <div>
    <p><strong>Nombre:</strong> {{ object.nombre }}</p>
    <p><strong>Creado el:</strong> {{ object.creado_en }}</p>
    <p><strong>Actualizado el:</strong> {{ object.actualizado_en }}</p>
  </div>

  <div class="form-actions">
    <!-- Botón para editar el módulo -->
    <a href="{% url 'modulo-actualizar' object.pk %}" class="btn btn-primary">Editar</a>
    <!-- Botón para eliminar el módulo -->
    <a href="{% url 'modulo-eliminar' object.pk %}" class="btn btn-danger">Eliminar</a>
    <!-- Botón para volver a la lista de módulos -->
    <a href="{% url 'modulos' %}" class="btn btn-secondary">Volver a la lista</a>
  </div>
{% endblock %}
