{% extends 'base_generic.html' %}

{% block content %}
  <h2>{% if object %}Actualizar Nota{% else %}Crear Nota{% endif %}</h2>
  
  <form method="post">
    {% csrf_token %}
    
    <!-- Mostrar errores de validación del formulario -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>¡Error!</strong> Por favor, corrige los siguientes errores:
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- Campo para el estudiante -->
    <div class="form-group">
      <label for="{{ form.estudiante.id_for_label }}">Estudiante</label>
      {{ form.estudiante }}
    </div>
    <br>
    <!-- Campo para el módulo -->
    <div class="form-group">
      <label for="{{ form.modulo.id_for_label }}">Módulo</label>
      {{ form.modulo }}
    </div>
    <br>
    <!-- Campo para la nota -->
    <div class="form-group">
      <label for="{{ form.nota.id_for_label }}">Nota</label>
      {{ form.nota }}
    </div>
    <br>
    <!-- Botones de acción -->
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% if object %}Actualizar{% else %}Crear{% endif %} Nota</button>
      <a href="{% url 'notas' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
{% endblock %}
